*{margin:0;font-family:"Microsoft YaHei";}
html,body,#fistPage{
    width:100%;height:100%;background:#FEFEFE;
}
html,body,#secondPage{
    width:100%;height:100%;background:#FEFEFE;
}
html,body,#thirdPage{
    width:100%;height:100%;background:#FEFEFE;
}
body {padding:1% 4%;}
.questionHeader{width:100%;height:20%;font-size:2em;padding-top:2%;vertical-align:middle;}

.container{width:100%;height:65%;text-align:center;}
.container button{height:12%;margin:0 6% 3% 0;padding:0 9%;font-size:2em;line-height:12%;border-color:#c6c2c2;}
.container p{height:10%;font-size:2em;line-height:10%;margin-top:2%;}
.container p input{border:none;border-bottom:1px solid #808080;}
.nextStep{width:100%;height:15%;text-align:center;font-size:1.2em;}
.nextStep .btn{font-size:1.8em;width:90%;height:70%;color:#000000 !important;background-color:#99CC66;}

/*点击之后的颜色*/
.clickBtn{background-color:#FFE66f !important;}
