
    <header>2/3哪些是特别不喜欢的？</header>
    <div class="container">
        <button type="button" class="btn btn-default">大蒜</button>
        <button type="button" class="btn btn-default">香菜</button>
        <button type="button" class="btn btn-default">苦瓜</button>
        <button type="button" class="btn btn-default">辣椒</button>
        <button type="button" class="btn btn-default">血</button>
        <button type="button" class="btn btn-default">芥末</button>
        <button type="button" class="btn btn-default">猪大肠</button>
        <button type="button" class="btn btn-default">芹菜</button>


        <p>
            其他：<input type="text" />
        </p>
    </div>
    <footer>
        <button type="button" class="btn">下一步</button>
    </footer>
