
<header>2/3哪些是你特别不喜欢的口味？</header>

<div class="containerBox">
    <div class="container">
        <button type="button" class="btn btn-default">大蒜</button>
        <button type="button" class="btn btn-default">香菜</button>
        <button type="button" class="btn btn-default">苦瓜</button>
        <button type="button" class="btn btn-default">辣椒</button>
        <button type="button" class="btn btn-default">血</button>
        <button type="button" class="btn btn-default">芥末</button>
        <button type="button" class="btn btn-default">猪大肠</button>
        <button type="button" class="btn btn-default">芹菜</button>
    </div>
    <div class="othsers">
        其他：<input type="text" />
    </div>
</div>

<footer>
    <button type="button" class="btn">下一步</button>
</footer>
