@model DailyDish.Portal.Models.TasteModel

<div id="fistPage">
    <div class="questionHeader">1/3哪些是你特别喜欢的口味？</div>
    @Html.Partial("_LikeTaste", Model.Flavor.Where(x => x.Type == "like").ToList())
    <div class="buttonBox buttonBox1">
        <button type="button" class="btn indexButton" onclick="PageLoad.SecondStep()">下一步</button>
    </div>
</div>
<div id="secondPage" hidden>
    <h3 class="questionHeader">2/3哪些是你特别不喜欢的口味？</h3>
    @Html.Partial("_LikeTaste", Model.Flavor.Where(x => x.Type == "dislike").ToList())

    <div class="buttonBox  buttonBox1">
        <button type="button" class="btn previousStep" onclick="PageLoad.FirstStep()">上一步</button>
        <button type="button" class="btn nextStep" onclick="PageLoad.ThirdStep()">下一步</button>
    </div>
</div>
<div id="thirdPage" hidden>
    <h3 class="questionHeader">3/3哪些是你绝对不会吃的东西？</h3>
    @Html.Partial("_LikeTaste", Model.Flavor.Where(x => x.Type == "taboo").ToList())
    <div class="buttonBox">
        <div class="othsers">
            其他：<input id="otherTabooTaste" type="text" />
        </div>
        <button type="button" class="btn previousStep" onclick="PageLoad.SecondStep()">上一步</button>
        <button type="button" class="btn" onclick="SubmitTaste()">提交</button>
    </div>
</div>

<script>
    var likeTaste = [];
    var dislikeTaste = [];
    var taboo = [];

    var PageLoad = {
        FirstStep: function () {
            $("#fistPage").removeAttr('hidden');
            $("#secondPage").attr('hidden', 'hidden');
            $("#thirdPage").attr('hidden', 'hidden');
        },
        SecondStep: function (e) {
            $("#secondPage").removeAttr('hidden');
            $("#fistPage").attr('hidden', 'hidden');
            $("#thirdPage").attr('hidden', 'hidden');
        },

        ThirdStep: function () {
            $("#secondPage").attr('hidden', 'hidden');
            $("#fistPage").attr('hidden', 'hidden');
            $("#thirdPage").removeAttr('hidden');
        },
    }

    function AddTasteToResult(obj, type, flavorName) {
        obj.toggleClass("clickBtn");

        if (obj.hasClass("clickBtn")) {
            if (type == "like") {
                if (likeTaste.length < 5) {
                    likeTaste.push(flavorName);
                }
                else {
                    obj.removeClass("clickBtn");
                    alert("最多只能选五个");
                    return false;
                }
            }
            else if (type == "dislike") {
                if (dislikeTaste.length < 5) {
                    dislikeTaste.push(flavorName);
                }
                else {
                    obj.removeClass("clickBtn");
                    alert("最多只能选五个");
                    return false;
                }
            }
            else if (type == "taboo") {
                taboo.push(flavorName)
            }
        }

        else if (!obj.hasClass("clickBtn")) {
            if (type == "like") {
                var i = likeTaste.indexOf(flavorName);
                if (i != -1) {
                    likeTaste.splice(i, 1);
                }
            }
            else if (type == "dislike") {
                var i = dislikeTaste.indexOf(flavorName);
                var j = document.getElementById("otherDisTaste").value;
                if (i != -1) {
                    dislikeTaste.splice(i, 1);
                }
            }
            else if (type == "taboo") {
                var i = taboo.indexOf(flavorName);
                if (i != -1) {
                    taboo.splice(i, 1);
                }
            }
        }
    }

    function SubmitTaste() {
        var otherTaboo = document.getElementById("otherTabooTaste").value;
        $.ajax({
            url: '/Home/SubmitTaste',
            type: 'POST',
            dataType: 'application/json',
            data: {
                likeTaste: likeTaste,
                dislikeTaste: dislikeTaste,
                taboo: taboo,
                otherTaboo: otherTaboo
            },

            success: function (data) {
                alert(data.responseText);
            },
            error: function (data) {
                alert(data.responseText);
                location.href = '/Home/ShowThanksPage';
            }
        })
    }

</script>
