@model DailyDish.Portal.Models.DishesModel
<div class="foodCantainer">
    <div class="img">
        <img src="~/Content/images/QingJiao_JiDan.jpg" />
    </div>

    <div class="foodContent">
        <div class="foodTitle">
            @Model.DishName
            <div class="link">超链接：<a href="@Model.PracticeUrl">@Model.PracticeUrl</a></div>
        </div>
        <p>介绍：</p>
        <div class="instructions">
           @Model.Explain
        </div>
    </div>
</div>
