@model DailyDish.Portal.Models.DishesModel
<div class="foodCantainer">
    <div class="img"></div>
    <div class="foodContent">
        <div class="foodTitle">
           @Model.DishName
            <p>超链接：<a href="@Model.PracticeUrl">@Model.PracticeUrl</a></p>
        </div>
        <div class="instructions">
            @Model.Explain
        </div>
    </div>
</div>
