<div class="foodCantainer">
    <div class="img"></div>

    <div class="foodContent">
        <div class="foodTitle">
            青椒素炒杏鲍菇
            <p>超链接：<a href="#">http://www.baidu.com/</a></p>
        </div>
        <div class="instructions">
            MVC开始是存在于桌面程序中的，M是指业务模型，V是指用户界面，C则是控制器，使用MVC的目的是将M和V的实现代码分离，从而使同一个程序可以使用不同的表现形式。比如一批统计数据可以分别用柱状图、饼图来表示。C存在的目的则是确保M和V的同步，一旦M改变，V应该同步更新。[1-2]
            模型－视图－控制器（MVC）是Xerox PARC在二十世纪八十年代为编程语言Smalltalk－80发明的一种软件设计模式，已被广泛使用。后来被推荐为Oracle旗下Sun公司Java EE平台的设计模式，并且受到越来越多的使用ColdFusion和PHP的开发者的欢迎。模型－视图－控制器模式是一个有用的工具箱，它有很多好处，但也有一些缺点。[3]
        </div>
    </div>
</div>
